{% load static %}
<section class="delivery" style="margin: 0; padding: 10px ; background: #4a4a4a; color: white">
    <div class="delivery-image"><img src="{% static 'img/delivery.webp' %}" alt=""></div>
    <h2 class="delivery-title" style="margin: 0; padding: 10px ;">Про доставку</h2>
    <p class="delivery-text" style="color: white">
        Доставка
    </p></section>
<section class="contacts" style="margin: 0; padding: 10px; background: #4a4a4a; color: white">
    <p class="contacts-text">Пишіть, телефонуйте з радістю відповімо на ваші питання </p>
    <div class="contacts-phone" style="color: white">+380982603960</div>
    <div class="contacts-email">info@advantshop.ru</div>
</section>