<!DOCTYPE html>
{% load static %}
{% load products_tags %}
<html lang="en">
{% block head %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Магазин</title>
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
{% endblock %}
<body>
<div class="wrapper">
    {% block header %}
        {% include '_inc/_header.html' %}
    {% endblock %}
    {% block slider %}
        {% include '_inc/_slider.html' %}
    {% endblock %}
    {% block content %}
        <main class="main">
            {% get_categories as categories %}
            {% for category in categories %}
                <section class="products">
                    <div class="products-title"><h2 class="products-title__text"><a
                            href="{% url 'show_by_name' category.slug %}">{{ category.title }}</a></h2></div>
                    <div class="container">
                        <div class="products-row">
                            {% get_products_by_category category.pk as producst %}
                            {% for product in products %}
                                <div class="products-row__item item-products">
                                    <div class="item-products__image"><img src="{{ product.photos.url }}"
                                                                           alt="product-image"></div>
                                    <div class="item-products__title"><a
                                            href="{% url 'show_by_name' product.slug %}">{{ product.title }}</a>
                                    </div>
                                    <div class="item-products__price">2{{ product.price }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>
            {% endfor %}
        </main>
    {% endblock %}
</div>
{% block footer %}
    {% include '_inc/_footer.html' %}
{% endblock %}
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>