{% extends 'base.html' %}
{% load static %}
{% block title %}{{ products.category__title }}{% endblock %}
{% block content %}
<div class="wrapper">
    <main class="main">
        <section class="products">
            <div class="container">
                <div class="products-row">
                    {% for product in products %}
                    <div class="products-row__item item-products">
                        <div class="item-products__image"><img src="{{ product.photos.url }}" alt="product-image"></div>
                        <div class="item-products__title"><a href="{% url 'show_by_name' product.slug %}">{{ product.title }}</a></div>
                        <div class="item-products__price">{{ product.price }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
</div>
{% endblock %}